html {
  box-sizing: border-box;
  line-height: 1.5;
  color: black;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  vertical-align: middle;
  text-align: left;
  margin: 1.5rem;
  display: inline;
}

body {
  color: #333;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: Lato, sans-serif;
}

img {
  display: block;
  width: 100%;
}

.newpic {
  padding: .4em .75em .5em;
  display: inline-block;
  max-width: 25em;
}

.newbox {
  display: inline-block;
  max-width: 25em;
}

.sections {
  display: inline-block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  padding: .4em .75em .5em;
  text-align: center;
}

.btn > li {
  padding: 0;
  margin: 0;
  display: block;
  color: black;
}

.btn:hover {
  background-color: #666;
  color: white;
}
